* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align:center;
  margin-top:50px;
}


#primo {
  padding-bottom: 1px;
}

.cuore {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: none;
}


.boxes:hover .cuore {
  display: block;
}



.boxes {
  background-color: #e7e7e7;
  height: 400px;
  width: 300px;
  display: inline-block;
  position: relative;
  text-align: center;
}

img {
  width: 100%;

}

.price {
  position: absolute;
  right: 0 ;
  background-color:green;
  height: 20px;
  width: 50px;
}

 .boxes:first-child .price {
  background-color: red;
}
.boxes:last-child .price {
  background-color: red;
}

/
