* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  text-align:center;
}


#primo {
  padding-bottom: 1px;
}
.boxes {
  background-color: #e7e7e7;
  height: 400px;
  width: 300px;
  display: inline-block;
  position: relative;
  text-align: center;


}

.price {
  position: absolute;
  left:250px;
  background-color:green;
  height: 20px;
  width: 50px;
}

 .boxes:first-child .price {
  background-color: red;
}
.boxes:last-child .price {
  background-color: red;
}

.boxes:first-child{
  background-image: url("../img/tablet.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.boxes:last-child {
  background-image: url("../img/beats.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
